node_modules/
backend/database/dataset

# Database Key
backend/database/dbConfig.json
backend/database/dbConfigLocal.json
backend/output/
backend/test/test-report.html

# Elastic Beanstalk Files
backend/.elasticbeanstalk/*
backend/.elasticbeanstalk/*.cfg.yml
backend/.elasticbeanstalk/*.global.yml
backend/Procfile

